<a href="https://colab.research.google.com/github/Maria-Ul/Advanced-ML/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Exam_test_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

PULSAR_STARS_LOG_REG

In [ ]:
df = pd.read_csv("report.csv")

In [ ]:
df

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TARGET
0,137.218750,45.390655,0.034985,0.134409,3.204013,17.177857,7.494588,74.003104,0
1,93.773438,41.883062,0.371402,1.291232,1.482441,12.959050,12.242911,180.158844,0
2,73.632812,35.461218,1.153607,4.161082,2.099498,13.057474,10.013591,140.894151,0
3,93.429688,39.883166,0.602060,1.518548,2.475753,14.146578,8.770640,107.970173,0
4,131.625000,44.111896,0.108905,0.239879,33.888796,70.398342,1.689460,1.031847,0
...,...,...,...,...,...,...,...,...,...
17893,121.117188,50.127279,-0.017936,-0.193900,1.566890,10.804730,13.737064,269.096109,0
17894,120.679688,40.918542,0.291465,0.627087,1.473244,13.912476,13.144044,203.416941,0
17895,138.101562,47.935314,-0.181827,-0.283746,3.270903,16.963817,6.988850,63.043499,0
17896,119.523438,44.198410,0.026662,0.352641,1.828595,12.674068,11.153939,166.582439,0
17897,154.875000,48.590766,-0.285643,0.129281,4.153010,21.971915,6.746838,52.230021,0

In [ ]:
len1 = df[(df['TARGET'] == 0) & (df['MIP']<= 85.5234375) & (df['MIP']>= 84.3515625)]

In [ ]:
len2 = df[(df['TARGET'] == 1) & (df['MIP']<= 92.6015625) & (df['MIP']>= 83.7734375)]

In [ ]:
new_df = pd.concat([len1,len2])

In [ ]:
new_df

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TARGET
169,85.523438,36.694040,0.733149,2.476574,1.957358,18.373467,10.403406,114.392908,0
172,84.804688,42.764263,0.737207,1.028280,1.005853,12.100228,15.973736,291.146142,0
819,85.117188,36.178512,0.475873,2.818428,1.544314,13.497512,12.103830,173.321794,0
1199,84.851562,39.852872,0.561781,1.296228,3.922241,21.742599,6.774843,51.058339,0
1217,84.468750,37.917043,0.585513,2.010289,3.584448,19.414388,6.721415,53.133539,0
...,...,...,...,...,...,...,...,...,...
16585,90.570312,54.453203,1.238812,0.880610,152.419732,73.971777,-0.933088,-0.371532,1
16660,92.476562,57.866760,1.241077,0.934114,151.443980,81.297233,-0.720683,-0.713868,1
16921,84.054688,51.992083,0.818566,0.037858,158.000836,95.239274,-0.799085,-1.044223,1
17425,84.695312,49.348499,0.960378,1.102570,5.490803,27.764100,6.181768,40.399247,1
17467,83.773438,52.279031,1.206698,1.630834,97.373746,90.905524,0.132639,-1.683188,1

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression

In [ ]:
y = new_df['TARGET']
X = new_df.drop(['TARGET'],axis=1)

In [ ]:
#normalized_df=(X-X.mean())/X.std()

In [ ]:
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [ ]:
np.round(X[:,0].mean(),3)

0.3

In [ ]:
logreg = LogisticRegression(random_state=15, solver='lbfgs')

In [ ]:
clf = logreg.fit(X,y)

In [ ]:
ex = [0.237, 0.684, 0.234, 0.169, 0.149, 0.674, 0.462, 0.82]
ex = np.reshape(ex,[1,-1])

In [ ]:
ex.shape

(1, 8)

In [ ]:
np.round(clf.predict_proba(ex)[:,1],3)

array([0.53])

MNIST

In [ ]:
! pip install scikit-learn==0.23.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-learn==0.23.0
  Downloading scikit_learn-0.23.0-cp38-cp38-manylinux1_x86_64.whl (7.2 MB)
     |████████████████████████████████| 7.2 MB 5.3 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn==0.23.0) (1.2.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.8/dist-packages (from scikit-learn==0.23.0) (1.7.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.8/dist-packages (from scikit-learn==0.23.0) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn==0.23.0) (3.1.0)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.5 requires scikit-learn>=1.0.0, but you have scikit-learn 0.23.0 which is incompatible.
imbalanced-learn 0.8.1 requires scikit-learn>=0.24, but you have scikit-learn 0.23.0 which is incompatible.
Successfully installed scikit-learn-0.23.0

In [ ]:
import tensorflow.keras
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

In [ ]:
(x_train, y_train), (x_test, y_test) = tensorflow.keras.datasets.mnist.load_data()

In [ ]:
x_train.shape
y_train.shape

(60000,)

reshape

In [ ]:
nsamples, nx, ny = x_train.shape
x_train = x_train.reshape((nsamples,nx*ny))

In [ ]:
x_train.shape

(60000, 784)

In [ ]:
x_train = pd.DataFrame(x_train)

In [ ]:
x_train = x_train.apply(lambda x: x-x.mean())

In [ ]:
pca = PCA(n_components=52, svd_solver='full')
pca.fit(x_train)

PCA(n_components=52, svd_solver='full')

In [ ]:
sum(pca.explained_variance_ratio_)

0.830965083231403

In [ ]:
new = pca.components_.T

In [ ]:
new.shape

(784, 52)

In [ ]:
comp = np.round(np.dot(x_train,new))

In [ ]:
comp.shape

(60000, 52)

In [ ]:
y_train.shape

(60000,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(comp, y_train, test_size=0.3, random_state=126)

In [ ]:
np.round(X_train[:,0].mean(),3)

0.595

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.multiclass import OneVsRestClassifier

In [ ]:
clf = OneVsRestClassifier(RandomForestClassifier(criterion='gini', min_samples_leaf=10, max_depth=20, n_estimators=10, random_state=126)).fit(X_train, y_train)

In [ ]:
clf.score(X_test,y_test)

0.9187777777777778

In [ ]:
X_test.shape

(18000, 52)

In [ ]:
pred = clf.predict(X_test)

In [ ]:
new_dfd = pd.read_csv('pred_for_task.csv')

In [ ]:
new_df = new_dfd

In [ ]:
new_df.shape

(30, 786)

In [ ]:
new_df.drop(['FileName'],axis=1, inplace=True)

In [ ]:
y_val = new_df['Label']
X_val = new_df.drop(['Label'],axis=1)

In [ ]:
X_val.shape

(30, 784)

In [ ]:
X_val_pca = pca.transform(X_val)

In [ ]:
X_val_pca.shape

(30, 52)

In [ ]:
pred_val = clf.predict(X_val_pca)

In [ ]:
pred_val[19]

4

In [ ]:
y_pred = clf.predict(X_test)
proba = clf.predict_proba([X_test[19]])[0][4]
print(f'вероятность: {proba}')

вероятность: 0.5051723345937998

In [ ]:
from sklearn.metrics import confusion_matrix
y_pred = clf.predict(X_test)
CM = confusion_matrix(y_test, y_pred)
P = 5 #подставить своё значение
print(f'Число верно определенных классов {P}: {CM[P][P]}')

Число верно определенных классов 5: 1402