<a href="https://colab.research.google.com/github/Maria-Ul/Advanced-ML/blob/main/%D0%AD%D0%BA%D0%B7%D0%B0%D0%BC%D0%B5%D0%BD_%D0%A6%D0%B8%D1%84%D1%80%D0%BE%D0%B2%D0%B0%D1%8F%D0%9A%D1%83%D0%BB%D1%8C%D1%82%D1%83%D1%80%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 5+3*x_1-8*x_2+4*x_3 = 0
# x_1 = 2
# x_2 = 9
# x_3-?
# x_3 = -1/4(5+3*2-8*9)

In [ ]:
# x_3 = -1/4(5+3*2-8*9) = -1/4*(-61)

In [ ]:
# 61/4

In [ ]:
# round(x_3, 2)

In [ ]:
import tensorflow.keras as keras

In [ ]:
(x_train, y_train), (x_test, y_test) = keras.datasets.mnist.load_data()

In [ ]:
x_train.shape

(60000, 28, 28)

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
import numpy as np

In [ ]:
x_train_1 = np.reshape(x_train, (60000, 28*28))

центрировать X_train_1

In [ ]:
len(x_train_1[1])

784

In [ ]:
F = np.copy(x_train_1)
for i in range(len(x_train_1[1])):
  x_mean = np.mean(x_train_1[i,:])
  F[i,:] = x_train_1[i,:] - x_mean

In [ ]:
F.shape

(60000, 784)

In [ ]:
clf = PCA()

In [ ]:
clf.fit(x_train_1, y_train)

PCA()

In [ ]:
0.79

0.79

In [ ]:
(clf.explained_variance_ratio_[0:41]).sum()

0.7906752285878417

In [ ]:
pca = PCA(n_components=41, svd_solver='full')

In [ ]:
pca.fit(x_train_1, y_train)

PCA(n_components=41, svd_solver='full')

In [ ]:
fi = pca.components_

In [ ]:
fi.shape

(41, 784)

Счеты

In [ ]:
Z = np.matmul(F, np.transpose(fi))

In [ ]:
X_cut = pca.transform(x_train_1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train_data, X_test_data, y_train_data, y_test_data = train_test_split(X_cut, y_train, test_size=0.3, random_state=28)

In [ ]:
np.mean(X_train_data[0])

52.96031686964961

In [ ]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [ ]:
clf_0 = OneVsRestClassifier(RandomForestClassifier(criterion='gini', min_samples_leaf=10, max_depth=20, n_estimators=10, random_state=28))

In [ ]:
clf_0.fit(X_train_data,y_train_data)

OneVsRestClassifier(estimator=RandomForestClassifier(max_depth=20,
                                                     min_samples_leaf=10,
                                                     n_estimators=10,
                                                     random_state=28))

In [ ]:
y_pred = clf_0.predict( X_test_data)

In [ ]:
count = 0
for i in range(len(y_pred)):
  if  y_test_data[i] == 5 and y_pred[i]==5:
    count+=1
print(count)

1478

In [ ]:
clf_1 = OneVsRestClassifier(LogisticRegression(solver='lbfgs', random_state=28))

In [ ]:
clf_1.fit(X_train_data,y_train_data)

OneVsRestClassifier(estimator=LogisticRegression(random_state=28))

In [ ]:
y_pred_1 = clf_1.predict( X_test_data)

In [ ]:
count = 0
for i in range(len(y_pred_1)):
  if  y_test_data[i] == 5 and y_pred_1[i]==5:
    count+=1
print(count)

1332

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
clf_2 = OneVsRestClassifier(DecisionTreeClassifier(criterion='gini', min_samples_leaf=10, max_depth=20, random_state=28))

In [ ]:
clf_2.fit(X_train_data,y_train_data)

OneVsRestClassifier(estimator=DecisionTreeClassifier(max_depth=20,
                                                     min_samples_leaf=10,
                                                     random_state=28))

In [ ]:
y_pred_2 = clf_2.predict( X_test_data)

In [ ]:
count = 0
for i in range(len(y_pred_2)):
  if  y_test_data[i] == 7 and y_pred_2[i]==7:
    count+=1
print(count)

1682

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/pred_for_task.csv', index_col = 'FileName')

In [ ]:
data.head()

,Label,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f774,f775,f776,f777,f778,f779,f780,f781,f782,f783
FileName,,,,,,,,,,,,,,,,,,,,,
file1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file5,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
label = data['Label']

In [ ]:
train_data = data.drop(['Label'], axis = 1)

In [ ]:
train_data.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f774,f775,f776,f777,f778,f779,f780,f781,f782,f783
FileName,,,,,,,,,,,,,,,,,,,,,
file1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
label

FileName
file1     7
file2     2
file3     1
file4     0
file5     4
file6     1
file7     4
file8     9
file9     5
file10    9
file11    0
file12    6
file13    9
file14    0
file15    1
file16    5
file17    9
file18    7
file19    3
file20    4
file21    9
file22    6
file23    6
file24    5
file25    4
file26    0
file27    7
file28    4
file29    0
file30    1
Name: Label, dtype: int64

In [ ]:
train_data_cut = pca.transform(train_data)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but PCA was fitted without feature names
  warnings.warn(

In [ ]:
label[0]

7

In [ ]:
round((clf_0.predict_proba(train_data_cut[0].reshape(1, -1)))[0, 7], 3)

0.956

In [ ]:
label[28]

0

In [ ]:
round((clf_1.predict_proba(train_data_cut[28].reshape(1, -1)))[0, label[28]], 3)

0.981

In [ ]:
label[27]

4

In [ ]:
round((clf_2.predict_proba(train_data_cut[27].reshape(1, -1)))[0, label[27]], 3)

0.997